body {
  margin: 0;
  padding: 0px;
  font-family: TT Lakes, Helvetica, sans-serif;
  max-width: 1120px;
  margin: 0px auto;
  min-width: 320px;
}

img {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button {
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  font-family: "TT Lakes";
}

@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("../assets/fonts/TTLakes-Regular.eot") format("embedded-opentype"),
    url("../assets/fonts/TTLakes-Regular.woff") format("woff"),
    url("../assets/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../assets/fonts/TTLakes-Medium.eot") format("embedded-opentype"),
    url("../assets/fonts/TTLakes-Medium.woff") format("woff"),
    url("../assets/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../assets/fonts/TTLakes-Bold.eot") format("embedded-opentype"),
    url("../assets/fonts/TTLakes-Bold.woff") format("woff"),
    url("../assets/fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #f8f8f8;
}

.header {
  position: relative;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3e79;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.buttons:hover {
  opacity: 0.5;
}

.header__repair {
  position: relative;
  right: 0px;
}

.header__repair::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 5px;
  bottom: 0;
  left: -20px;
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background: #eaeaea;
}

.header__logo {
  cursor: pointer;
  position: relative;
}

.header__left {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  gap: 16px;
}

.header__center {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  position: absolute;
  right: 162px;
}

@media (max-width: 768px) {
  .header__center {
    display: none;
  }
  .about__container {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.header__right {
  position: absolute;
  right: 16px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.header {
  padding: 16px 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}

.h1 {
  margin: 24px 16px 24px 16px;
  color: #1b1c21;
  font-family: "TT Lakes";
  font-size: 28px;
  font-style: bold;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  position: relative;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
}

.h1__visible {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: "TT Lakes";
  gap: 16px;
}

.h1__link {
  display: flex;
  font-family: "TT Lakes";
  color: black;
  border: 2px solid transparent;
  align-items: center;
  font-weight: 500;
  gap: 8px;
}

.h1__link:hover {
  border: 2px solid turquoise;
  border-radius: 6px;
}

.h1::before {
  position: absolute;
  top: 0px;
  left: -16px;
  content: "";
  display: inline-block;
  width: 4px;
  height: 32px;
  background-color: #41f6d7;
  border-radius: 5px;
  box-sizing: border-box;
}

.navi {
  background-color: #f8f8f8;
}

.navi__list {
  display: flex;
  overflow: scroll;
  list-style-type: none;
  flex-wrap: nowrap;
  white-space: nowrap;
  height: 40px;
  align-items: center;
  padding-inline-start: 16px;
  box-sizing: border-box;
  margin-bottom: 8px;
  gap: 5px;
}

.navi__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.navi__name {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 7px 9.3px 7px 16.5px;
  border: 2px transparent;
  border-radius: 6px;
  font-family: "TT Lakes";
  text-decoration: none;
  border: 2px solid transparent;
  color: #7e7e82;
}

.navi__name:focus {
  background: #fff;
  border: 2px solid #b8ffec;
  outline: none !important;
}

.navi__name:hover {
  background: #fff;
  border: 2px solid #b8ffec;
}

.about {
  display: flex;
  gap: 16px;
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about__text {
  background-color: #f8f8f8;
  font-size: 14px;
  font-family: "TT Lakes";
  line-height: 18px;
  letter-spacing: 0.2px;
  overflow: hidden;
}

.about__btn {
  display: flex;
  font-family: "TT Lakes";
  font-size: 16px;
  background-color: transparent;
  border: transparent;
  align-items: center;
  padding: 0px;
  font-weight: 500;
  letter-spacing: -0.2px;
  background-color: #f8f8f8;
  cursor: pointer;
}

@media (min-width: 768px) {
  body {
    width: 768px;
  }

  .about {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 24px 24px 24px 0px;
  }
  .about__container {
    width: 50%;
    display: flex;
    flex-direction: column;

    margin-left: 24px;
    gap: 24px;
  }
  .about__logotip {
    display: flex;
    width: 50%;
  }

  .about__text {
    width: 312px;
    height: 140px;
  }

  .h1 {
    margin: 24px 24px 32px 24px;
  }
  .h1::before {
    left: -24px;
  }

  .navi__list {
    padding-inline-start: 24px;
    margin-right: 24px;
  }
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header__right {
    right: 24px;
  }
  .header__logo {
    margin-left: 20px;
  }
  .header__logo::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 10px;
    bottom: 0;
    left: -20px;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #eaeaea;
  }
}

@media (max-width: 768px) {
  body {
    width: 320px;
  }

  .about__text {
    height: 90px;
    width: auto;
  }
  .about {
    flex-direction: column;
  }
}

main {
  background-color: #f8f8f8;
}

@media (max-width: 1120px) {
  .h1__visible {
    display: none;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }
  .about__logotip {
    display: flex;
    max-width: 532px;
    overflow: hidden;
    border-radius: 5px;
  }
  body {
    width: 1120px;
  }

  .about__container {
    width: 50%;
    display: flex;
    flex-direction: column;

    margin-left: 24px;
    gap: 24px;
  }
  .about__logotip {
    display: flex;
    width: 50%;
  }

  .about__text {
    width: 490px;
    height: 160px;
  }
}
